doctype html
html(lang="en", theme="light")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title 404 Not Found

		link(rel="manifest", href="/manifest.json")
		link(rel="stylesheet", href="/style.css")

		script(src="/settings.js")
	body
		main
			h1 Not Found
			p The resource at #[code= path] was not found.
			a(href="/") Go home
